.shelf {
  display: flex;
  justify-content: center;
  width: 95%
}
.shelf > div {
  background: goldenrod;
  margin: 0.1em;
  padding: 0.3em;
  border-radius: 3px;
  flex: 1;
}
.notfull {
  background: blue;
}
.icount {
  float: right;
}

html {
  width: 95%
}