.Shelf {
  display: flex;
}
.Shelf > div {
  font-size: 4vh;
  background: goldenrod;
  margin: 0.1em;
  padding: 0.3em;
  border-radius: 3px;
  flex: 1;
}
.Input {
  display: flex;
  justify-content: flex-start;
}
.Input > input > div {
  justify-items: flex-end;
  padding: 0.3em;
}
.different {
  border: 5px solid orange;
  background: gold;
  color: black;
}
