.shelf {
  display: flex;
  justify-content: center;
  width: 95%;
}
.shelf > div {
  background-color: goldenrod;
  margin: 0.1em;
  padding: 0.3em;
  border-radius: 3px;
  flex: 1;
  text-align: center;
}
html {
  width: 95%;
}
button {
  width: auto;
  height: auto;
  background-color: red;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}
.icount {
  transform: translate(50px, 100px);
}
